@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Matthew A. Shooshtari<br />
    Carrollton, TX<br />
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:matthew.shooshtari@outlook.com">matthew.shooshtari@outlook.com</a><br />
</address>