@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="row">
        <h2>Application Uses</h2>
        <ul>
            <li>See images from the mars Curiosity rover from selected dates.</li>
            <li>Download images you like.</li>
            <li>For more information see the <a href="@Url.Action("About")">About</a> page. </li>
        </ul>
    </div>
    <div class="row">
        <h2>Get Started</h2>
        <ul>
            <li>Check out the Curiosity <a href="@Url.Action("Photos")">photos</a> page. </li>
        </ul>
    </div>

    <div class="row">
        <h2>TODO</h2>
        <ul>
            <li>I could add some tests and improve this from the basic requirements.</a></li>
            <li>This could be a great way for kids to explore Mars.</a></li>
            <li>Perhaps I could learn some more UI stuff and make this project cooler.</li>
        </ul>
    </div>
</div>